#banner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  flex-wrap: wrap;
}

#leandro {
  max-width: 500px;
}

#foto-de-perfil {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  object-fit: cover;
}

button {
  color: white;
  background-color: brown;
}

button:hover {
  background-color: coral;
}

#q1 {
  background-color: white;
  padding: 10px;
  position: relative;
  width: 30%;
  height: auto;
  gap: 10px;
}

#q2 {
  background-color: white;
  padding: 10px;
  width: 30%;
   gap: 10px;
}

.dual-card {
  display: flex;
  background-color: #edf7fa;
  position: relative;
  gap: 3%;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

#c1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

#k1,
#k2 {
  background-color: rgb(215, 215, 229);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
}

#q4,
#q5 {
  border-radius: 10px;
  text-align: center;
  height: 300px;
  padding: 18px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.du-card {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  background-color: #edf7fa;
  padding: 24px 0px;
}

span {
  background-color: rgb(167, 170, 170);
  border-radius: 10px;
  padding: 3px;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
}

.cartao {
  flex: 1;
  max-width: 300px;
  min-width: 200px;
 
}

.icones {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
}

@media (max-width: 1000px) {
  #banner {
    flex-direction: column;
    text-align: center;
  }

  #leandro {
    max-width: 90%;
  }

  #foto-de-perfil {
    margin-top: 20px;
  }

  .dual-card {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  #q1,
  #q2 {
    width: 80%;
    
  }

  #k1,
  #k2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 650px) {
  #banner {
    margin: 20px;
  }

  img {
    width: 200px;
    height: 200px;
  }

  #q1,
  #q2 {
    width: 90%;
  }

  #q4,
  #q5 {
    height: auto;
    padding: 12px;
  }

  .du-card {
    gap: 12px;
  }
}


